---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import ResultCard from "@/components/ResultCard.astro";
import ToolBar from "@/components/ToolBar.astro";
---

<Layout title="TimeZip">
  <div class="flex flex-col justify-between items-center h-[100svh] py-16">
    <Header />
    <ResultCard />
    <ToolBar />
  </div>
</Layout>
