---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import ResultCard from "@/components/ResultCard.tsx";
import ToolBar from "@/components/ToolBar.astro";
import Globe from "@/components/Globe.astro";
import ClockBold from "@/components/icons/ClockBold.astro";

import tweetsData from "@/data/tweetsData.json";
import TweetCarousel from "@/components/Carousel";
import { Toaster } from "@/components/ui/sonner";
---

<Layout title="TimeZip">
  <Toaster client:load />
  <div class="absolute -z-50 h-full w-full bg-transparent">
    <div
      class="absolute h-full w-full bg-[radial-gradient(#c5c7cb_1px,transparent_1px)] [background-size:16px_16px]"
    >
    </div>
  </div>
  <main class="flex h-[100svh] flex-col items-center justify-between py-16">
    <Header />
    <ResultCard client:load />
    <ToolBar />
  </main>
  <div>
    <Globe />
  </div>
  <article class="pt-20">
    <div class="flex flex-col items-center">
      <h2
        class="flex w-1/2 flex-col items-center text-balance font-montserrat text-4xl font-bold"
      >
        <span class="text-center">Quick and Easy time zone converter</span>
        <span class="flex items-center gap-2"
          >for social media <ClockBold /></span
        >
      </h2>
      <span class="text-lg"
        >Here are some examples of tweets you can create with <strong
          >TimeZip.</strong
        ></span
      >
    </div>

    <TweetCarousel client:idle />
  </article>
  <footer class="mt-8 border-t border-zinc-400 bg-white px-[200px] py-8">
    <p class="text-4xl font-bold">Jeegs</p>
  </footer>
</Layout>
