---
import Tool from "./Tool.astro";
import Calendar from "./icons/Calendar.astro";
import { DatePicker } from "./ui/date-picker";
import IncludeDateSwitch from "./IncludeDateSwitch";
---

<Tool>
  <div slot="label" class="flex items-center justify-between">
    <span>
      <Calendar />
      Date
    </span>
    <IncludeDateSwitch client:load />
  </div>
  <DatePicker client:load />
</Tool>
