---

---

<div class="relative -z-10 flex justify-center">
  <div
    class="absolute -top-[60vh] h-screen w-2/3 overflow-hidden [mask-image:linear-gradient(#000_40%,#0004_90%,transparent_100%)]"
  >
    <video src="globe.webm" autoplay loop muted></video>
  </div>
  <!-- <div
    class="absolute -top-[60vh] h-screen w-full [background:linear-gradient(180deg,rgba(242,242,242,0.00)_0%,rgba(242,242,242,0.00)_50%,#F2F2F2_90%)]"
  >
  </div> -->
</div>
<!-- <img src="test.png" alt="" /> -->
