---
import Github from "./icons/Github.astro";
import XIcon from "./icons/XIcon.astro";
import CaretRight from "./icons/CaretRight.astro";
import { Button } from "@/components/ui/button";
---

<header class="flex w-full flex-col items-center gap-1">
  <div class="flex gap-5 text-xl">
    <a
      href="https://twitter.com/jeegscreator"
      aria-label="twitter"
      target="_blank"
    >
      <XIcon />
    </a>
    <a
      href="https://github.com/JhonnGutierrez/timezone-v2"
      aria-label="github"
      target="_blank"
    >
      <Github />
    </a>
  </div>
  <h1 class="font-montserrat text-6xl font-bold">TimeZip</h1>
  <Button
    variant="outline"
    className="mt-2 h-7 gap-2 rounded-full text-sm font-normal text-zinc-700 transition-colors"
    >How it works? <CaretRight /></Button
  >
</header>
