---
import SelectTime from "./SelectTime";
import Tool from "./Tool.astro";
import Clock from "./icons/Clock.astro";
---

<Tool>
  <span slot="label">
    <Clock />
    Time
  </span>
  <SelectTime client:load />
</Tool>
