<div class="flex flex-col gap-1">
  <div
    class="text-sm text-zinc-700 [&_span]:flex [&_span]:gap-1 [&_span]:items-center [&_svg]:text-base"
  >
    <slot name="label" />
  </div>
  <div>
    <slot />
  </div>
</div>
